/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@charset "UTF-8";
/* Modern CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 40px;
}

.land__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #212121;
  font-family: "Rubik", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

canvas {
  cursor: pointer;
}

.land__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
  padding: 10px 0;
  background-color: #1A1A1A;
}

.land__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.land__header_menu_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.land__header_menu-item {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  text-transform: uppercase;
  margin: 2px 60px 2px 0;
}

.land__header_menu-item a {
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;
}

.land__header_menu-item a:hover,
.land__header_menu-item a:focus {
  color: #C33C07;
}

.land__header-item_first {
  max-width: 140px;
  height: auto;
  margin-right: 90px;
}

.land__header-item_second {
  margin: 0 5px 0 auto;
}

.land__header-item_second_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  min-width: 230px;
}

.land__btn_sing_up {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  background: transparent;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.land__btn_sing_up:hover,
.land__btn_sing_up:focus {
  background-color: #FFDC4A;
  color: #1A1A1A;
  border: 1px solid #1A1A1A;
  text-decoration: none;
}

.land__btn_reg {
  color: #212121;
  background: #FFDC4A;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px 10px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}

.land__btn_reg:hover,
.land__btn_reg:focus {
  background-color: #C33C07;
  color: white;
}

.land__glob_img {
  width: 24px;
  height: 24px;
  cursor: pointer;
  border-radius: 100%;
}

.land__glob_img:hover,
.land__glob_img:focus {
  outline: 2px solid #FFDC4A;
}

.land__section_1 {
  overflow: hidden;
}

.land__section_1__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.land__animate_section_1 {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}

.land__animate_section_1 img,
.land__animate_section_1 video {
  position: absolute;
  top: 0;
  left: 0;
  width: 1080px;
  height: 1080px;
  max-width: 1080px;
  -webkit-transform: translate(-15%, -15%);
  -ms-transform: translate(-15%, -15%);
  transform: translate(-15%, -15%);
}

.land__animate_section_1 video {
  opacity: 0.85;
}

.land__animate_section_1 .frame-animation {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}

.land__desc_container_section_1 {
  width: 50%;
  max-width: 555px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 105px 0;
  position: relative;
  z-index: 100;
  background-color: transparent;
}

.land__section_1__wrapper {
  position: relative;
}

.land__section_1__wrapper::after,
.land__section_1__wrapper::before {
  content: '';
  display: block;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  background: #212121;
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 33, 33, 0.05)), color-stop(15%, rgba(33, 33, 33, 0.95)), color-stop(50%, rgba(33, 33, 33, 1)));
  background: -o-linear-gradient(left, rgba(33, 33, 33, 0.05) 0%, rgba(33, 33, 33, 0.95) 15%, rgba(33, 33, 33, 1) 50%);
  background: linear-gradient(90deg, rgba(33, 33, 33, 0.05) 0%, rgba(33, 33, 33, 0.95) 15%, rgba(33, 33, 33, 1) 50%);
  z-index: 0;
}

.land__section_1__wrapper::after {
  right: 0;
}

.land__section_1__wrapper::before {
  left: -13%;
  z-index: 1;
  width: 15%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(33, 33, 33, 1)), color-stop(10%, rgba(33, 33, 33, 0.95)), to(rgba(33, 33, 33, 0)));
  background: -o-linear-gradient(left, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0.95) 10%, rgba(33, 33, 33, 0) 100%);
  background: linear-gradient(90deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0.95) 10%, rgba(33, 33, 33, 0) 100%);
}

.land__title {
  font-size: 39px;
  color: #FFFFFF;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.land__subtitle {
  font-size: 39px;
  color: #9D9D9D;
  margin-bottom: 80px;
}

.land__super_btn_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.land__super-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 15px 25px;
  background: #FFDC4A;
  color: #212121;
  font-size: 48px;
  font-weight: 700;
  border-radius: 35px;
  cursor: pointer;
  width: 100%;
  max-width: 555px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.land__super-btn:hover,
.land__super-btn:focus {
  background-color: #C33C07;
  color: white;
}

.land__section_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/fon_section2.png") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section2.png") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section2.png") center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/fon_section2.webp") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section2.webp") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section2.webp") center/cover no-repeat;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
}

.land__section_2_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.land__section_2_container .land__main_title {
  margin: 0 auto 115px;
}

.land__main_title {
  color: #FFFFFF;
  font-size: 64px;
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.land__sectin_2_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.land__sectin_2_block_item {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.land__sectin_2_block_item .land__title {
  margin-bottom: 130px;
}

.land__animate_section_2 {
  width: 50%;
  position: relative;
  background: url("../media/img/makbook.png") no-repeat center center;
  background: url("../media/img/makbook.webp") no-repeat center center;
  background-size: contain;
  height: 400px;
  right: 2%;
}

.land__animate_section_2 img {
  position: absolute;
  right: 0;
  bottom: -75px;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.land__section_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/coins_bg.png") no-repeat center center;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/coins_bg.png") no-repeat center center;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/coins_bg.png") no-repeat center center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/coins_bg.webp") no-repeat center center;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/coins_bg.webp") no-repeat center center;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/coins_bg.webp") no-repeat center center;
  background-size: cover;
  padding: 110px 0;
}

.land__section_3 .land__section_3_container {
  width: 100%;
}

.land__section_3 .land__section_3_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  width: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 40px;
}

.land__section_3 .land__section_3_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 31%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 200px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.land__section_3 .land__section_3_img {
  max-width: 80px;
  max-height: 80px;
  margin-bottom: 15px;
}

.land__section_3 .land__text_title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}

.land__section_3 .land__text_subtitle {
  color: #9D9D9D;
  font-weight: 400;
  font-size: 24px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}

.land__section_4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/japane1.png") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/japane1.png") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/japane1.png") center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/japane1.webp") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/japane1.webp") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/japane1.webp") center/cover no-repeat;
  opacity: 0.8;
  z-index: 1;
  position: relative;
  padding: 130px 0;
}

.land__section_4 .land__section_4_container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
  z-index: 2;
}

.land__section_4_container .land__main_title {
  margin-bottom: 70px;
}

.land__section_4 .land__section_4_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 30px;
  width: 100%;
}

.land__section_4 .land__section_4_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 2;
  width: 30%;
  height: auto;
  cursor: pointer;
}

.land__section_4 .land__section_4_item img.land__section_4_img {
  position: relative;
  bottom: -50px;
}

.land__section_5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/fon_section5.png") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section5.png") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section5.png") center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(255, 255, 255, 0)), to(rgba(33, 33, 33, 1))), url("../media/img/fon_section5.webp") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section5.webp") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(255, 255, 255, 0) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_section5.webp") center/cover no-repeat;
  padding: 180px 0;
}

.land__section_5 .land__section_5_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.land__section_5 .land__section_5_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.land__section_5_block li {
  width: 30%;
  max-width: 360px;
  cursor: pointer;
}

.land__section_5 .land__section_5_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.land__section_5 .land__section_5_item canvas {
  width: 350px;
  height: 350px;
  -o-object-fit: contain;
  object-fit: contain;
}

.land__section_5 .land__main_title {
  margin-bottom: 70px;
}

.land__footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(33, 33, 33, 0.9)), to(rgba(33, 33, 33, 1))), url("../media/img/fon_footer.png") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0.9) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_footer.png") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0.9) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_footer.png") center/cover no-repeat;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(33, 33, 33, 1)), color-stop(50%, rgba(33, 33, 33, 0.9)), to(rgba(33, 33, 33, 1))), url("../media/img/fon_footer.webp") center/cover no-repeat;
  background: -o-linear-gradient(top, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0.9) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_footer.webp") center/cover no-repeat;
  background: linear-gradient(180deg, rgba(33, 33, 33, 1) 0%, rgba(33, 33, 33, 0.9) 50%, rgba(33, 33, 33, 1) 100%), url("../media/img/fon_footer.webp") center/cover no-repeat;
  padding: 130px 0 20px 0;
}

.land__footer_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.land__footer_block_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.land__footer_block_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.land__footer_block_row .land__main_title {
  margin: 0 auto 60px;
}

.land__contact_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 80px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.land__contact_text {
  color: #9D9D9D;
  font-weight: 400;
  font-size: 24px;
  margin-right: 20px;
  max-width: 330px;
}

.land_circle {
  width: 90px;
  height: 90px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100%;
}

.land_circle a {
  width: 86px;
  height: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  overflow: hidden;
  outline: 2px solid #FFDC4A;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: rgba(33, 33, 33, 0.8);
}

.land_circle a img,
.land_circle a svg {
  display: block;
  width: 60%;
  height: 60%;
  margin: auto;
}

.land_circle a svg path {
  fill: #FFDC4A;
}

.land_circle a:hover,
.land_circle a:focus {
  outline: 4px solid #C33C07;
}

.land_circle a:hover svg path,
.land_circle a:focus svg path {
  fill: #C33C07;
}

.land__contact_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg-name {
  width: 78px;
  height: 78px;
  background: url('../media/css_sprites.png') -122px -10px;
}

.bg-providers {
  width: 92px;
  height: 78px;
  background: url('../media/css_sprites.png') -10px -10px;
}

.bg-welcome_bonuses {
  width: 78px;
  height: 72px;
  background: url('../media/css_sprites.png') -108px -108px;
}

.bg-year_founded {
  width: 70px;
  height: 78px;
  background: url('../media/css_sprites.png') -220px -10px;
}

.bg-game_catalog {
  width: 60px;
  height: 78px;
  background: url('../media/css_sprites.png') -220px -108px;
}

.bg-help_desk {
  width: 78px;
  height: 78px;
  background: url('../media/css_sprites.png') -10px -108px;
}

.land__section_3_item i {
  display: block;
  margin: 0 auto 20px;
}

.header__languages {
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 2px solid #FFDC4A;
  border-radius: 4px;
  position: absolute;
  right: -40px;
  top: -20px;
  z-index: 10;
}

.header__languages.hidden {
  display: none;
}

.header__languages button {
  border: none;
  background-color: transparent;
  color: white;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0 5px;
}

.header__languages button:hover,
.header__languages button:focus {
  background-color: #FFDC4A;
  color: #1A1A1A;
}

.burger {
  visibility: hidden;
}

@media(max-width: 1366px) {

  .land__animate_section_1 img,
  .land__animate_section_1 video {
    -webkit-transform: translate(-20%, -15%);
    -ms-transform: translate(-20%, -15%);
    transform: translate(-20%, -15%);
  }
}

@media(max-width: 1200px) {
  .land__section_1__wrapper::before {
    display: none;
  }

  .land__header_menu-item {
    margin: 2px 20px 2px 0;
    font-size: 14px;
  }

  .land__header-item_first {
    margin-right: 40px;
    max-width: 120px;
  }

  .land__btn_sing_up,
  .land__btn_reg {
    font-size: 14px;
  }

  .land__header-item_second_block {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    min-width: auto;
    gap: 5px;
  }

  .land__title,
  .land__subtitle {
    font-size: 30px;
  }

  .land__super-btn {
    font-size: 40px;
  }

  .land__subtitle {
    margin-bottom: 40px;
  }

  .land__animate_section_1 img,
  .land__animate_section_1 video {
    height: auto;
    max-width: 720px;
    -webkit-transform: translate(-15%, -10%);
    -ms-transform: translate(-15%, -10%);
    transform: translate(-15%, -10%);
  }

  .land__desc_container_section_1 {
    padding: 80px 0;
  }

  .land__main_title {
    font-size: 50px;
  }

  .land__sectin_2_block_item .land__title {
    margin-bottom: 50px;
  }

  .land__section_3 {
    padding: 80px 0;
  }

  .land__section_3 .land__section_3_item {
    width: 30%;
  }

  .land__section_3 .land__text_subtitle {
    font-size: 20px;
  }

  .land__section_3 .land__text_title {
    font-size: 24px;
  }

  .land__section_4,
  .land__section_5 {
    padding: 80px 0;
  }

  .land__footer {
    padding: 80px 0 20px 0;
  }

  .land__contact_text {
    font-size: 24px;
  }

  .land__animate_section_2 img {
    width: 180px;
    height: 300px;
    bottom: -40px;
  }
}

@media(max-width: 980px) {
  .land__section_4 .land__section_4_item {
    margin-right: 0;
    width: 33%;
  }

  .land__section_4_item:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }

  .land__section_4_item:nth-of-type(2) {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .land__section_4_item:nth-of-type(3) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .land__section_4 .land__section_4_item img.land__section_4_img {
    bottom: 60px;
  }

  .land__section_4 .land__section_4_block {
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .land__animate_section_1 img,
  .land__animate_section_1 video {
    -webkit-transform: translate(-30%, -20%);
    -ms-transform: translate(-30%, -20%);
    transform: translate(-30%, -20%);
  }

  .land__desc_container_section_1 {
    width: 70%;
  }

  .land__title,
  .land__subtitle {
    font-size: 24px;
  }

  .wrapper {
    padding: 0 20px;
  }

  .land__super-btn {
    font-size: 30px;
  }

  .land__section_2_container .land__main_title {
    margin: 0 auto 80px;
  }

  .land__sectin_2_block_item .land__title {
    margin-bottom: 30px;
  }

  .land__animate_section_2 {
    background: url("../media/img/makbook.png") no-repeat top 30px center;
    background: url("../media/img/makbook.webp") no-repeat top 30px center;
    background-size: contain;
    right: 0;
    height: auto;
  }

  .land__section_3 .land__text_subtitle {
    font-size: 16px;
  }

  .land__section_3 .land__section_3_block {
    gap: 20px;
  }

  .land__section_3 .land__text_title {
    font-size: 18px;
  }

  .land__header_menu-item {
    font-size: 12px;
  }

  .land__header-item_first {
    max-width: 100px;
  }

  .land__section_1__wrapper::after {
    width: 60%;
  }

  .header__languages {
    right: -5px;
    top: 40px;
  }
}

@media(max-width: 767px) {
  .land__header-main-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #212121;
    z-index: 300;
    height: 100dvh;
  }

  .land__header_menu_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .land__header-main-item.hidden {
    left: -100%;
  }

  .land__header_menu-item {
    margin: 0;
  }

  .land__header_menu-item a {
    display: block;
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #FFDC4A;
    -webkit-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
  }

  .land__desc_container_section_1 {
    z-index: 0;
  }

  .land__header-item_first {
    margin-right: 20px;
  }

  .land__header-item_second {
    margin: 0 0 0 10px;
  }

  .land__header-item_first {
    max-width: 80px;
  }

  .burger {
    width: 30px;
    height: 20px;
    border: none;
    background-color: transparent;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: auto;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    visibility: visible;
  }

  .burger span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #FFDC4A;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
  }

  .burger span::after,
  .burger span::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #FFDC4A;
    left: 0;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s
  }

  .burger span::after {
    top: 0;
  }

  .burger span::before {
    bottom: 0;
  }

  .burger.active {
    position: absolute;
    right: 20px;
    z-index: 1000;
  }

  .burger.active span {
    background-color: transparent;
  }

  .burger.active span::after {
    top: 50%;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .burger.active span::before {
    bottom: 40%;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .land__section_1__wrapper,
  .land__sectin_2_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .land__animate_section_1 img,
  .land__animate_section_1 video {
    position: relative;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .land__animate_section_1,
  .land__desc_container_section_1,
  .land__sectin_2_block_item,
  .land__animate_section_2 {
    width: 100%;
    max-width: 100%;
  }

  .land__animate_section_1 img,
  .land__animate_section_1 video {
    width: 115%;
    height: auto;
  }

  .land__desc_container_section_1 {
    padding: 0;
  }

  .land__title,
  .land__subtitle {
    text-align: center;
  }

  .land__section_1__wrapper::after {
    display: none;
  }

  .land__animate_section_2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .land__animate_section_2 img {
    position: relative;
  }

  .land__section_3 .land__section_3_item {
    width: 45%;
    min-height: auto;
  }

  .land__section_3 .land__section_3_block {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    gap: 25px;
  }

  .land__section_3 .land__text_subtitle {
    font-size: 14px;
  }

  .land__section_3 .land__text_title {
    font-size: 13px;
  }

  .land__section_4 .land__section_4_item {
    width: 45%;
  }

  .land__section_4 .land__section_4_item img.land__section_4_img {
    bottom: 35px;
  }

  .land__section_5_block li {
    width: 50%;
  }

  .land__contact_text {
    font-size: 18px;
  }

  .land__section_1 {
    padding-bottom: 40px;
  }

  .land__section_2,
  .land__section_3,
  .land__section_4,
  .land__section_5 {
    padding: 80px 0;
  }

}

.animate__animated.hidden {
  visibility: hidden;
}
