.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(var(--padding-1) - 5px);
    background-color: var(--white-1);
    color: var(--black-1);
    width: 100%;
    border-radius: 4px;
    font-weight: bold;
    transition: all 0.2s;
}

.button:hover,
.button:focus {
    background-color: goldenrod;
    color: var(--black-1);
}

.button:active {
    background-color: var(--black-1);
    color: var(--white-1);
    outline: 2px solid var(--white-1);
}

.button:disabled {
    background-color: var(--light-gray);
    color: var(--black-1);
    opacity: 0.5;
}

@media (min-width: 1920px) {
    .button {
        font-size: 24px;
        text-transform: uppercase;
        padding: calc(var(--padding-1)) calc(var(--padding-1) * 2);
    }
}