@charset "UTF-8";
/* Modern CSS Reset */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

li {
  list-style: none;
}

.land__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #212121;
  font-family: "Rubik", sans-serif;
  height: 100vh;
  overflow: hidden;
}

.land__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  padding: 20px 0;
  margin-bottom: 40px;
}

.land__header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.land__header-logo-item {
  width: 150px;
  margin-right: 10px;
  max-width: 100%;
}

.land__header-main-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.land__header-item-title {
  font-size: 80px;
  color: #FFDC4A;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
}

.land__header-item-desc {
  font-size: 48px;
  color: #FFFFFF;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
  white-space: nowrap;
  text-transform: uppercase;
}

@media (max-width: 1700px) {
  .land__header-item-title {
    font-size: 50px;
  }
}

@media (max-width: 1100px) {
  .loaded .land__animate_header_2 {
    gap: 0px;
  }
}

@media (max-width: 950px) {
  .loaded .land__animate_header_2 {}

  .land__btn_sing_up {
    padding: 5px 10px;
    white-space: nowrap;
  }

  .land__btn_reg {
    padding: 5px 10px;
    white-space: nowrap;
  }
}

.slide-from-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  opacity: 0;
  -webkit-transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease;
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.slide-from-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease;
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.loaded .slide-from-left,
.loaded .slide-from-right {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.land__header-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.land__header-left-item,
.land__header-right-item {
  height: auto;
  max-height: 90%;
  -o-object-fit: contain;
  object-fit: contain;
  position: absolute;
  z-index: 3;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

.land__header-left-item {
  width: auto;
  height: auto;
  max-height: none;
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transform: scale(1.51) translateX(-100%);
  transform: scale(1.51) translateX(-100%);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
  -webkit-transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease;
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  left: 15%;
  bottom: 0;
  z-index: 3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  will-change: transform, opacity;
}

.loaded .land__header-left-item {
  -webkit-transform: scale(1.51) translateX(0);
  transform: scale(1.51) translateX(0);
}

.land__header-left-item .land__panda_img .slide-from-left {
  left: -25%;
}

.land__header-right-item {
  width: auto;
  height: auto;
  max-height: none;
  -webkit-transform: scale(1.5) translateX(100%);
  transform: scale(1.5) translateX(100%);
  -webkit-transform-origin: right bottom;
  transform-origin: right bottom;
  -webkit-transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease;
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  position: absolute;
  right: 10%;
  bottom: 0;
  z-index: 3;
}

.loaded .land__header-right-item {
  -webkit-transform: scale(1.5) translateX(0);
  transform: scale(1.5) translateX(0);
}

.land__header-left-item {
  position: relative;
  left: 10%;
  right: auto;
}

.land__header-logo-item {
  position: relative;
  right: auto;
}

.land__header-right-item {
  left: auto;
  right: 15%;
}

@media (max-width: 768px) {

  .land__header-left-item,
  .land__header-right-item {
    max-height: 80%;
  }

  .loaded .land__header-left-item {
    -webkit-transform: scale(2.2) translateX(0);
    transform: scale(2.2) translateX(0);
    left: 0;
  }

  .loaded .land__header-right-item {
    -webkit-transform: scale(3) translateX(0);
    transform: scale(3) translateX(0);
    right: 0;
  }
}

@media (max-width: 480px) {
  .loaded .land__header-left-item {
    -webkit-transform: scale(2.4) translateX(0);
    transform: scale(2.4) translateX(0);
  }

  .loaded .land__header-right-item {
    -webkit-transform: scale(3.2) translateX(0);
    transform: scale(3.2) translateX(0);
  }

  .land__header-left-item,
  .land__header-right-item {
    max-height: 70%;
  }
}

@media (max-width: 480px) {
  .loaded .land__header-left-item {
    -webkit-transform: scale(1.6) translateX(0);
    transform: scale(1.6) translateX(0);
  }

  .loaded .land__header-right-item {
    -webkit-transform: scale(3.4) translateX(10px);
    transform: scale(3.4) translateX(10px);
  }
}

@media (max-width: 370px) {
  .loaded .land__header-left-item {
    -webkit-transform: scale(2.8) translateX(0);
    transform: scale(2.8) translateX(0);
  }

  .loaded .land__header-right-item {
    -webkit-transform: scale(3.6) translateX(0);
    transform: scale(3.6) translateX(0);
  }
}

.land__main_section {
  position: relative;
  height: 100vh;
  min-height: 500px;
}

.land__container {
  background-image: url('../media/bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 1200px) {
  .land__main_section {
    min-height: 400px;
  }
}

@media (max-width: 768px) {
  .land__main_section {
    min-height: 300px;
  }
}

@media (max-width: 480px) {
  .land__main_section {
    min-height: 200px;
  }
}

.land_main-item {
  position: relative;
  width: 100%;
  height: 100%;
}

.land__animate_2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
}

.frame-animation {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}

@media (min-width: 768px) {
  .frame-animation {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@media (max-width: 1000px) {
  .frame-animation {
    margin-bottom: 7%;
  }
}

@media (max-width: 850px) {
  .frame-animation {
    margin-bottom: 4%;
  }
}

@media (max-width: 550px) {
  .frame-animation {
    margin-bottom: 7%;
  }
}

@media (max-width: 450px) {
  .frame-animation {
    margin-bottom: 7%;
  }
}

.land__animate_1,
.land__animate_3 {
  position: absolute;
  width: 25%;
  height: 100%;
  z-index: 2;
  will-change: transform;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: visible;
}

@media (max-width: 768px) {

  .land__animate_1,
  .land__animate_3 {
    width: 15%;
  }
}

.land__animate_1 {
  left: 0;
  background: -webkit-gradient(linear, left top, right top, from(#212121), to(transparent));
  background: linear-gradient(90deg, #212121, transparent);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.land__animate_3 {
  right: 0;
  background: -webkit-gradient(linear, right top, left top, from(#212121), to(transparent));
  background: linear-gradient(270deg, #212121, transparent);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.loaded .land__animate_1 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.loaded .land__animate_3 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.land__animate_header_2 {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
  -webkit-transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease;
  transition: transform 2.5s cubic-bezier(0.16, 1, 0.3, 1), opacity 2.5s ease, -webkit-transform 2.5s cubic-bezier(0.16, 1, 0.3, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: relative;
  min-width: 250px;
}

.loaded .land__animate_header_2 {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 768px) {

  .land__header-left-item,
  .land__header-right-item {
    max-height: 80%;
  }

  .land__animate_1 {
    padding-left: 1%;
  }

  .land__animate_3 {
    padding-right: 1%;
  }
}

@media (max-width: 480px) {

  .land__header-left-item,
  .land__header-right-item {
    max-height: 70%;
  }
}

@media (max-width: 880px) {
  .land__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  /* Первый блок (лого) */
  .land__animate_header_1 {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    width: auto !important;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
  }

  /* Центральный блок (заголовок) */
  .land__header-main-item {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    width: 100%;
    text-align: center;
    margin: 15px 0 0;
    padding: 0;
  }

  /* Третий блок (кнопки) */
  .land__animate_header_2 {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: auto !important;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    padding: 0;
    margin: 0;
    gap: 8px;
  }

  /* Логотип */

  /* Кнопки */
  .land__btn_sing_up,
  .land__btn_reg {
    padding: 5px 10px;
    font-size: 14px;
  }

  .land__glob_img {
    width: 24px;
    height: 24px;
  }
}

.land__btn_sing_up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.land__btn_sing_up {
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 15px;
}

.land__btn_reg {
  color: #212121;
  border: 1px solid #FFDC4A;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  padding: 5px 15px;
  background: #FFDC4A;
}

.land__glob_img {
  cursor: pointer;
}

/* Стили для изображения Zeus (верхнее) */
.land__header-left-item:not(.land__panda_img) {
  position: relative;
  left: 0.4%;
  bottom: 0;
  -webkit-transform: scale(1.35) translateX(-100%);
  transform: scale(1.35) translateX(-100%);
  z-index: 4;
}

.land__panda_img {
  position: relative;
  left: -30%;
  bottom: 0;
  -webkit-transform: scale(1.2) translateX(-100%);
  transform: scale(1.2) translateX(-100%);
  z-index: 3;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

.loaded .land__header-left-item:not(.land__panda_img) {
  -webkit-transform: scale(1.35) translateX(0);
  transform: scale(1.35) translateX(0);
}

.loaded .land__panda_img {
  -webkit-transform: scale(1.2) translateX(0);
  transform: scale(1.2) translateX(0);
}

@media (max-width: 768px) {
  .land__header-left-item:not(.land__panda_img) {
    -webkit-transform: scale(2.55) translateX(-100%);
    transform: scale(2.55) translateX(-100%);
  }

  .land__panda_img {
    -webkit-transform: scale(2.4) translateX(-100%);
    transform: scale(2.4) translateX(-100%);
  }

  .loaded .land__header-left-item:not(.land__panda_img) {
    -webkit-transform: scale(2.55) translateX(0);
    transform: scale(2.55) translateX(0);
  }

  .loaded .land__panda_img {
    -webkit-transform: scale(2.4) translateX(0);
    transform: scale(2.4) translateX(0);
  }
}

@media (max-width: 450px) {
  .land__header-left-item:not(.land__panda_img) {
    -webkit-transform: scale(4.55) translateX(-100%);
    transform: scale(4.55) translateX(-100%);
  }

  .loaded .land__header-left-item:not(.land__panda_img) {
    -webkit-transform: scale(3.55) translateX(-10px);
    transform: scale(3.55) translateX(-10px);
  }

  .land__panda_img {
    -webkit-transform: scale(2.4) translateX(-100%);
    transform: scale(2.4) translateX(-100%);
  }

  .loaded .land__panda_img {
    -webkit-transform: scale(4.4) translateX(0);
    transform: scale(4.4) translateX(0);
  }
}

.roulette {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  box-sizing: border-box;
}

.roulette::after {
  content: '';
  display: block;
  position: absolute;
  top: -25%;
  left: -20%;
  width: 150%;
  height: 150%;
  background-image: url('../media/blur.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.roulette__in,
.roulette__out,
.roulette__in img,
.roulette button,
.roulette__button {
  max-width: 100%;
  transition: all 1.5s;
}

.roulette__in img {
  transition: all 2s;
}

.roulette__out {
  position: relative;
  z-index: 1;
}

.roulette__out.rotated,
.roulette button.rotated {
  transform: rotate(-35deg);
}

.roulette__in {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}

.roulette__in img {
  width: 87%;
}

.roulette__in img.rotated {
  transform: rotate(-1080deg);
}

.roulette__button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  aspect-ratio: 1 / 1;
  width: 255px;
  height: 255px;
}

.roulette button {
  border: none;
  background-color: transparent;
  font-size: 34px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  cursor: pointer;
}

@media(max-width: 767px) {
  .roulette button {
    font-size: 4vw;
  }
}

.land__btn_sing_up {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  border-radius: 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  padding: 5px 10px;
  background: transparent;
  transition: all 0.2s;
}

.land__btn_sing_up:hover,
.land__btn_sing_up:focus {
  background-color: #FFDC4A;
  color: #1A1A1A;
  border: 1px solid #1A1A1A;
}

.header__languages {
  color: #FFFFFF;
  box-sizing: border-box;
  border: 2px solid #FFDC4A;
  border-radius: 4px;
  position: absolute;
  right: 5px;
  top: 45px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__languages.hidden {
  display: none;
}

.header__languages button {
  border: none;
  background-color: transparent;
  color: white;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0 5px;
}

.header__languages button:hover,
.header__languages button:focus {
  background-color: #FFDC4A;
  color: #1A1A1A;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 40px;
}

.land__header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 1200px) {
  .wrapper {
    padding: 0 20px;
  }
}

@media(max-width: 1367px) {
  .land__header-item-title {
    font-size: 45px;
  }
}

@media(max-width: 1100px) {
  .land__header-main-item {
    position: absolute;
    top: 140px;
    left: 0;
  }
}

@media(max-width: 760px) {
  .land__header-item-title {
    font-size: 24px;
  }

  .land__header-item-desc {
    font-size: 30px;
  }

  .land__animate_3,
  .land__animate_1 {
    background: none;
  }
}

@media(max-width: 429px) {
  .wrapper {
    padding: 0 10px;
  }

  .land__header-item-title {
    font-size: 22px;
  }

  .land__header-item-desc {
    font-size: 28px;
  }

  .land__header-main-item {
    top: 100px;
  }

  .land__btn_reg {
    padding: 5px 10px;
  }

  .land__btn_reg,
  .land__btn_sing_up {
    font-size: 12px;
  }

  .land__animate_header_2 {
    min-width: 220px;
  }
}

@media(max-width: 330px) {
  .land__header-item-title {
    font-size: 20px;
  }

  .land__header-item-desc {
    font-size: 26px;
  }
}